anyio==4.10.0+computecanada
argon2_cffi==25.1.0+computecanada
argon2_cffi_bindings==25.1.0+computecanada
arrow==1.3.0+computecanada
asttokens==3.0.0+computecanada
async_lru==2.0.5+computecanada
attrs==25.3.0+computecanada
babel==2.17.0+computecanada
beautifulsoup4==4.13.5+computecanada
bleach==6.2.0+computecanada
certifi==2025.8.3+computecanada
cffi==1.17.1+computecanada
charset_normalizer==3.4.3+computecanada
comm==0.2.3+computecanada
debugpy==1.8.17
decorator==5.2.1+computecanada
defusedxml==0.7.1+computecanada
executing==2.2.1
fastjsonschema==2.21.2+computecanada
fqdn==1.5.1+computecanada
h11==0.16.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
idna==3.10+computecanada
ipykernel==6.30.1+computecanada
ipython==9.5.0
ipython_pygments_lexers==1.1.1+computecanada
ipywidgets==8.1.7+computecanada
isoduration==20.11.0+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
json5==0.12.1+computecanada
jsonpointer==3.0.0+computecanada
jsonschema==4.25.1+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter==1.1.1+computecanada
jupyter-lsp==2.3.0
jupyter_client==8.6.3+computecanada
jupyter_console==6.6.3+computecanada
jupyter_core==5.8.1+computecanada
jupyter_events==0.12.0+computecanada
jupyter_server==2.17.0+computecanada
jupyter_server_terminals==0.5.3+computecanada
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0+computecanada
jupyterlab_server==2.27.3+computecanada
jupyterlab_widgets==3.0.15+computecanada
lark==1.2.2+computecanada
MarkupSafe==3.0.2+computecanada
matplotlib_inline==0.1.7+computecanada
mistune==3.1.4
nbclient==0.10.2+computecanada
nbconvert==7.16.6+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
notebook==7.4.5+computecanada
notebook_shim==0.2.4+computecanada
packaging==25.0+computecanada
pandocfilters==1.5.1+computecanada
parso==0.8.5+computecanada
pexpect==4.9.0+computecanada
platformdirs==4.4.0+computecanada
prometheus_client==0.22.1+computecanada
prompt_toolkit==3.0.52
psutil==7.0.0+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
pycparser==2.23+computecanada
pygments==2.19.2+computecanada
python_dateutil==2.9.0.post0+computecanada
python_json_logger==3.3.0+computecanada
PyYAML==6.0.2+computecanada
pyzmq==27.0.2+computecanada
referencing==0.36.2+computecanada
requests==2.32.5+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rfc3987_syntax==1.1.0+computecanada
rpds_py==0.27.0+computecanada
Send2Trash==1.8.3+computecanada
setuptools==80.9.0+computecanada
six==1.17.0+computecanada
sniffio==1.3.1+computecanada
soupsieve==2.8+computecanada
stack_data==0.6.3+computecanada
terminado==0.18.1+computecanada
tinycss2==1.4.0+computecanada
tornado==6.5.2+computecanada
traitlets==5.14.3+computecanada
types_python_dateutil==2.9.0.20250822+computecanada
typing_extensions==4.15.0+computecanada
uri_template==1.3.0+computecanada
urllib3==2.5.0+computecanada
wcwidth==0.2.13+computecanada
webcolors==24.11.1+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.8.0+computecanada
widgetsnbextension==4.0.14+computecanada
